services:
  pingpong-app:
    build:
      context: ./pingpong-app
    container_name: sunqen/pingpong-app
    environment:
      PORT: 3001
    ports:
      - "3457:3001"

  log-output:
    build:
      context: .
    container_name: sunqen/log-output
    environment:
      PORT: 3000
      WORKDIR: /usr/src/app
      PINGPONG_URL: http://pingpong-app:3001/pings
      MESSAGE: "hello world"
    ports:
      - "3456:3000"
