services:
  pingpong-app:
    build:
      context: ./pingpong-app
    image: sunqen/pingpong-app:latest
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - "3457:3001"

  greeter:
    build:
      context: ./greeter
    image: sunqen/greeter:latest
    environment:
      NODE_ENV: production
      VERSION: 1
    ports:
      - "3458:3002"

  log-output:
    build:
      context: .
    image: sunqen/log-output
    env_file:
      - .env
    environment:
      NODE_ENV: production
      GREETER_URL: http://greeter:3002
    ports:
      - "3456:3000"
      