services:
  pingpong-app:
    build:
      context: ./pingpong-app
    container_name: pingpong-app
    environment:
      - PORT=3001
      - LOGS_DIR=/usr/src/app/logs
    volumes:
      - logs-volume:/usr/src/app/logs
    # map container port to same host port 3456
    ports:
      - "3456:3001"

  log-output-writer:
    build:
      context: ./writer
    container_name: log-output-writer
    environment:
      - LOGS_DIR=/usr/src/app/logs
    volumes:
      - logs-volume:/usr/src/app/logs

  log-output-reader:
    build:
      context: ./reader
    container_name: log-output-reader
    environment:
      - PORT=3000
      - LOGS_DIR=/usr/src/app/logs
    volumes:
      - logs-volume:/usr/src/app/logs
    ports:
      - "3456:3000"
volumes:
  logs-volume: