services:
  pingpong-app:
    build:
      context: ./pingpong-app
    image: sunqen/pingpong-app:latest
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - "3457:3001"

  log-output:
    build:
      context: .
    image: sunqen/log-output
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - "3456:3000"
      