apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  labels:
    app: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: sunqen/log-output:latest
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: PINGPONG_URL
              value: "http://pingpong-app-svc:3457/pings"
