apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: exercises
  name: log-output-claim
spec:
  storageClassName: local-logs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi