services:
  todo-app-writer:
    build:
      context: ./picsum-writer
    container_name: todo-app-writer
    environment:
      - IMAGE_DIR=/usr/src/app/image
    volumes:
      - image-volume:/usr/src/app/image

  todo-app:
    build:
      context: .
    container_name: todo-app
    environment:
      - PORT=3000
      - IMAGE_DIR=/usr/src/app/logs
    volumes:
      - image-volume:/usr/src/app/logs
    ports:
      - "1234:3000"
volumes:
  image-volume: